// .truncate {
//   white-space: nowrap;
//   overflow: hidden;
//   text-overflow: ellipsis;
//   max-width: 30vw;
// }

.table {
  width: 100%;
  table-layout: fixed;

  // & .active {
  //   background-color: #f5f5f5;
  // }

  th,
  td {
    overflow: hidden;
    max-width: 400px;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
  }

  .image {
    width: 80px;
  }

  th {
    font-weight: 700;
    font-size: 18px;
  }

  .row {
    cursor: pointer;

    &.hightlighted {
      background-color: #f5f5f5;
    }
  }
}

.toolbar-row {
  background-color: "#cccc";
  height: 80px;

  .search {
    font-size: 14px;
    margin-right: 20px;
  }

  .spacer {
    flex: 1 1 auto;
  }

  .sortby {
    width: 120px;
    font-size: 14px;
    margin-left: 10px;
  }

  .filterby {
    width: 150px;
    font-size: 14px;
    margin-left: 10px;
  }
}

th.mat-sort-header-sorted {
  color: black;
}

.green {
  color: #04aa6d;
}
