<mat-nav-list class="nav-list">
  <mat-list-item routerLink="">
    <mat-icon matListItemIcon>home</mat-icon>
    <span mat-line>Home</span>
  </mat-list-item>
  <mat-list-item routerLink="dashboard">
    <mat-icon matListItemIcon>desktop_windows</mat-icon>
    <span mat-line>My Dashboard</span>
  </mat-list-item>
  <mat-list-item routerLink="customers">
    <mat-icon matListItemIcon>people</mat-icon>
    <span mat-line>Customers</span>
  </mat-list-item>
  <mat-list-item routerLink="products">
    <mat-icon matListItemIcon>av_timer</mat-icon>
    <span mat-line>Perfomance</span>
  </mat-list-item>
  <mat-list-item routerLink="about">
    <mat-icon matListItemIcon>shopping_cart</mat-icon>
    <span mat-line>Orders</span>
  </mat-list-item>
  <mat-list-item routerLink="about">
    <mat-icon matListItemIcon>equalizer</mat-icon>
    <span mat-line>Reports</span>
  </mat-list-item>
  <mat-list-item routerLink="about">
    <mat-icon matListItemIcon>security</mat-icon>
    <span mat-line>Admin</span>
  </mat-list-item>
  <mat-list-item routerLink="about">
    <mat-icon matListItemIcon>settings</mat-icon>
    <span mat-line>Settings</span>
  </mat-list-item>
</mat-nav-list>
