<mat-card class="card">
  <div class="user">
    <mat-card-header>
      <div mat-card-avatar class="header-image">
        <img [src]="user?.avatar" alt="user avatar" class="image" />
      </div>

      <mat-card-title>Admin</mat-card-title>
      <mat-card-subtitle
        >{{ user?.first_name }} {{ user?.last_name }}</mat-card-subtitle
      >
    </mat-card-header>
  </div>

  <button
    mat-icon-button
    [matMenuTriggerFor]="menu"
    aria-label="Example icon-button with a menu"
  >
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="toggle()">
      <mat-icon>person</mat-icon>
      <span>View profile</span>
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-card>
