<!-- Progress bar -->
<app-progress-bar></app-progress-bar>

<div *ngIf="checkAuth; then mainBlock; else loginBlock"></div>

<!-- Login content -->
<ng-template #loginBlock>
  <auth-login></auth-login>
</ng-template>

<!-- Main content -->
<ng-template #mainBlock>
  <mat-sidenav-container class="container" autosize fullscreen>
    <mat-sidenav #leftMenu mode="side" opened class="left-side">
      <app-user
        [leftMenu]="leftMenu"
        [user]="userProfile"
        (profileBtnClick)="onToggle($event)"
      ></app-user>

      <!-- Navigation -->
      <app-navbar></app-navbar>
    </mat-sidenav>

    <!-- Content -->
    <mat-sidenav-content class="content">
      <app-toolbar
        [isPanelActive]="isPanelActive$ | async"
        (panelBtnClick)="onToggle($event)"
      ></app-toolbar>

      <!-- Rendered Content -->
      <router-outlet></router-outlet>

      <app-loader></app-loader>

      <!-- View Profile Card -->
      <app-user-profile
        [userProfile]="userProfile"
        [isActive]="isProfileActive$ | async"
        (closeBtnClick)="onToggle($event)"
      ></app-user-profile>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-template>
